Repository zonemaster/zonemaster, pull requests merged in 2019-11, with the labels that each got.

#819 Making ALGORITHM_OK more explicit
  docs/specifications/tests/DNSSEC-TP/dnssec05.md
Labels: test spec

#824 Specification of issue labels
  docs/internal-documentation/maintenance/IssueLabels.md
Labels: A-Documentation, T-Project

#822 Add style guide item on capitalization
  docs/internal-documentation/maintenance/StyleGuide.md
Labels: A-Documentation

#826 Update main readme
  README.md
Labels: A-Documentation
