Repository zonemaster/zonemaster, pull requests merged in 2020-07, with the labels that each got.

#865 Update instruction for merging develop into master
  docs/internal-documentation/maintenance/ReleaseProcess.md
Labels: A-Documentation

#874 Updated Severity Level Definitions document
  docs/specifications/tests/SeverityLevelDefinitions.md
Labels: A-Documentation

#859 Create Basic04
  docs/specifications/tests/Basic-TP/basic04.md
Labels: A-TestCase

#881 Requirements and specification update
  docs/requirements/TestRequirements-table-specification.txt
  docs/requirements/TestRequirements.md
  docs/requirements/supporting-documents/Algorithms-used-by-dnscheck.md
  docs/requirements/supporting-documents/DNSCheck-Tests.md
  docs/requirements/supporting-documents/Detailed-list-of-all-possible-dnscheck-messages.md
  docs/requirements/supporting-documents/ExistingZCFeaturesCLI.md
  docs/requirements/supporting-documents/ExistingZCPolicy.md
  docs/requirements/supporting-documents/README.md
  docs/specifications/tests/Address-TP/README.md
  docs/specifications/tests/Basic-TP/README.md
  docs/specifications/tests/Connectivity-TP/README.md
  docs/specifications/tests/Consistency-TP/README.md
  docs/specifications/tests/DNSSEC-TP/README.md
  docs/specifications/tests/Delegation-TP/README.md
  docs/specifications/tests/Makefile
  docs/specifications/tests/MasterTestPlan.md
  docs/specifications/tests/Nameserver-TP/README.md
  docs/specifications/tests/README.md
  docs/specifications/tests/Report.md
  docs/specifications/tests/Review.md
  docs/specifications/tests/Syntax-TP/README.md
  docs/specifications/tests/TestMessages.md
  docs/specifications/tests/Zone-TP/README.md
  utils/README.md
  utils/generateTestCaseList.pl
  utils/generateTestMessages.pl
  utils/maprequirement.pl
  utils/maptestmessages.pl
  utils/ztester.sh
Labels: A-Documentation, A-TestCase
